.banner{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/apojtiendatcc.appspot.com/o/R-11950406-1525321734-2793.jpg?alt=media&token=c4ddf523-32e8-4c09-a71b-69bc8dd61ac0');
  background-position: top center;
  background-size: cover;
  padding: 5% 30% 100% 30%;
}
