<div class="row row-cols-12 row-cols-md-3 w-100">
  <div class="col d-block mx-auto m-xxl-auto">
    <ul class="mx-auto m-xxl-auto d-block">
      <li class="link">
         <a href="" class="nav-link">Servicio</a>
        </li>
      <li class="link">
        <a href="" class="nav-link">Redes sociales</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">Contacto</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">Queiens somos</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">Terminos y condiciones</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">2022</a>
      </li>
    </ul>
  </div>
  <div class="col d-block mx-auto m-xxl-auto">
    <ul class="mx-auto m-xxl-auto d-block">
      <li class="link"> 
        <a href="" class="nav-link">Servicio</a>
        </li>
      <li class="link">
        <a href="" class="nav-link">Redes sociales</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">Contacto</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">Queiens somos</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">Terminos y condiciones</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">2022</a>
      </li>
    </ul>
  </div>
  <div class="col d-block mx-auto m-xxl-auto">
    <ul class="mx-auto m-xxl-auto d-block">
      <li class="link"> 
        <a href="" class="nav-link" >Servicio</a>
        </li>
      <li class="link">
        <a href="" class="nav-link">Redes sociales</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">Contacto</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">Queiens somos</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">Terminos y condiciones</a>

      </li>
      <li class="link">
        <a href="" class="nav-link">2022</a>
      </li>
    </ul>
  </div>
</div>
<footer class="w-100">
  <h4 class="text-center">Copyright2022 r - AngelTobonPerez</h4>
 </footer>
